.vercel
node_modules/
.DS_Store
Thumbs.db
desktop.ini
*.log
LANDMARK  SMM.mp4
LANDMARK BTS HADID.mp4
LANDMARK SMM.mp4
LOOM BTS.mp4
LOOM SMM.mp4
MIRINDA PASSION PROJECT.mov
MIRINDA PASSION PROJECT.mp4
MOTION DESIGN.mp4
MOTION LOOM.mov
SINA DENTAL CLINC BTS.mp4
SUN CIPS PASSION PROJECT.mp4
RIDE PASSION PROJECT.mp4
short version.mp4
to pro.mp4
final shot mirinda.mov
kwanit advertising final.mp4
